<!-- Navbar for dashboard  -->

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand d-flex align-items-center">
            <img src="../../../../assets/images/rod-of-asclepius.png" width="50" height="40" class="ms-3"
                alt="Hospital Logo">
            <span class="ms-3 d-none d-sm-inline">Doctors Cares Multispecialty Hospital</span>
            <span class="ms-3 d-sm-none">Doctors Cares</span>
        </a>

        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Content -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Navigation Items -->
            <ul class="navbar-nav mx-auto text-center">
                <!-- Doctor Details Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link active py-2 py-lg-0 dropdown-toggle" role="button" 
                        id="doctorDropdown" data-bs-toggle="dropdown">
                        Doctor Details
                    </a>
                    <ul class="dropdown-menu text-center text-lg-start" aria-labelledby="doctorDropdown">
                        <li>
                            <button class="dropdown-item" routerLink="./doc-detail">List of Doctors</button>
                        </li>
                        <li>
                            <button class="dropdown-item" routerLink="./doctor-records">Doctor Records</button>
                        </li>
                    </ul>
                    <!-- <ul class="dropdown-menu dropdown-menu-dark text-center text-lg-start">
                        <li>
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addDoctorModal">
                                Add Doctor
                            </button>
                        </li>
                    </ul> -->
                </li>

                <!-- Patient Details Dropdown -->
                <li class="nav-item dropdown ms-lg-3">
                    <a class="nav-link active py-2 py-lg-0" role="button" routerLink="./pat-detail">
                        Patient Details
                    </a>
                    <!-- <ul class="dropdown-menu dropdown-menu-dark text-center text-lg-start">
                        <li>
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addPatientModal">
                                Add Patient
                            </button>
                        </li>
                    </ul> -->
                </li>

                <!-- Recipient Details -->
                <li class="nav-item dropdown ms-lg-3">
                    <a class="nav-link active py-2 py-lg-0 dropdown-toggle" role="button" id="recipientDropdown" data-bs-toggle="dropdown" >
                        Recipient Details
                    </a>
                    <ul class="dropdown-menu  text-center text-lg-start" aria-labelledby="recipientDropdown">
                        <li>
                            <button class="dropdown-item" routerLink="./recip-detail">List of Recipients</button>
                        </li>
                        <li>
                            <button class="dropdown-item" routerLink="./recipient-records">Recipient Records</button>
                        </li>
                    </ul>
                    <!-- <ul class="dropdown-menu dropdown-menu-dark text-center text-lg-start">
                        <li>
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addReceptionModal">
                                Add Details
                            </button>
                        </li>
                    </ul> -->

                </li>
            </ul>

            <!-- Profile Dropdown -->
            <div class="text-center mb-3 mb-lg-0 dropdown-center">
                <button class="btn  px-5" type="button" id="userDropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-regular fa-user fa-2x text-white"></i>
                </button>
                <ul class="dropdown-menu  text-lg-start dropdown-menu-start" id="userDropdownMenu" aria-labelledby="userDropdown">
                    <li>
                        <button class="dropdown-item " routerLink="./profile" >
                            <i class="fa-solid fa-gear me-2" ></i> Profile
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item" (click)="logout()">
                            <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
                        </button>
                    </li>
                </ul>
            </div>
            <!-- Logout Button
            <div class="text-center mb-3 mb-lg-0">
                <button class="btn btn-danger px-4" (click)="logout()">
                    Logout
                </button>
            </div> -->
        </div>
    </div>
</nav>